<%- include('../../layouts/head.ejs')%> <%-
include('../../layouts/header.ejs')%> <%- include('../../layouts/side.ejs')%>
<div class="block-header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>
        البطاقات
        <small>كافة البطاقات</small>
      </h2>
    </div>
  </div>
</div>
<m-index-card-card></m-index-card-card>
<%- include('../../layouts/footer.ejs') %>
