<%- include('../layouts/head.ejs')%> <%- include('../layouts/header.ejs')%> <%-
include('../layouts/side.ejs')%>
<div class="block-header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>
        المدن
        <small>كافة الكوبونات</small>
      </h2>
    </div>
  </div>
</div>
<m-index-coupon></m-index-coupon>

<%- include('../layouts/footer.ejs') %>
