<html>

<body>
    <% if(user) {%>
    <%= user.email %>
    <%}%>
    <div id="app">
    </div>
    <a href="https://webaystore.com/p/5d7623a00d2c001d2a0f463c">open app</a>
    <script src="/js/main.js">
        
    </script>
</body>

</html>