<%- include('../../layouts/head.ejs')%> <%-
include('../../layouts/header.ejs')%> <%- include('../../layouts/side.ejs')%>
<div class="block-header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>
        اقسام البطاقات
        <small>كافة اقسام البطاقات</small>
      </h2>
    </div>
  </div>
</div>
<index-card-category></index-card-category>
<%- include('../../layouts/footer.ejs') %>
