<%- include('../layouts/head.ejs')%> <%- include('../layouts/header.ejs')%> <%-
include('../layouts/side.ejs')%>
<div class="block-header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>
        المنتجات
        <small>كافة المنتجات</small>
      </h2>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="header"></div>
      <div class="body">
        <m-index-product></m-index-product>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/footer.ejs') %>
