<!DOCTYPE html>
<html lang="en">
<head>
    <title>تسجيل الدخول</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form method="POST" action="/secret/login" class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						تسجيل الدخول
					</span>


                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                    <input class="input100" type="text" name="email" placeholder="البريد الالكتروني">
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input class="input100" type="password" name="password" placeholder="الرقم السري">
                    <span class="focus-input100"></span>
                </div>



                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        تسجيل الدخول
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<!--	<div id="dropDownSelect1"></div>-->

</body>
</html>