<form action="/register" method="POST" >
    <label for="email">Email</label>
    <input type="text" name="email" value="">
    <label for="email">phone</label>
    <input type="text" name="phone" value="">
    <label for="email">name</label>
    <input type="text" name="name" value="">
    <label for="email">username</label>
    <input type="text" name="username" value="">
    <label for="password">password</label>
    <input type="password" name="password" value="">
    <input type="submit" name="submit" value="submit">
</form>