<body class="theme-orange menu_dark rtl">
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>

  <!-- Top Bar -->
  <div
    class="navbar p-l-5 p-r-5"
    style="margin:0px !important; position:absolute;"
  >
    <ul class="nav navbar-nav navbar-left">
      <li>
        <div class="navbar-header">
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" href="/moderator"
            >لوحة التحكم<span class="m-l-10"></span
          ></a>
        </div>
      </li>

      <li class="float-right">
        <a href="/logout" class="mega-menu" data-close="true"
          ><i class="zmdi zmdi-power"></i
        ></a>
      </li>
    </ul>
  </div>
</body>
