<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
  <div class="tab-content">
    <div class="tab-pane stretchRight active" id="dashboard">
      <div class="menu">
        <ul class="list">
          <li class="header">لوحة التحكم</li>
          <li>
            <a href="/admin/constant/" class="">
              <i class=" zmdi zmdi-settings"></i><span>اعدادات عامة</span>
            </a>
          </li>
          <li>
            <a href="/admin/order" class=""
              ><i class=" zmdi zmdi-shopping-cart"></i><span>الطلبات</span></a
            >
          </li>
          <li>
            <a href="/admin/return" class=""
              ><i class=" zmdi zmdi-turning-sign"></i><span>المرتجعات</span></a
            >
          </li>
          <li>
            <a href="/admin/delayed-order" class=""
              ><i class=" zmdi zmdi-shopping-cart"></i><span>الطلبات المؤجلة</span></a
            >
          </li>
          <li>
            <a href="javascript:void(0);" class=" menu-toggle"
              ><i class=" zmdi zmdi-account"></i><span>المديرين</span></a
            >
            <ul class="ml-menu">
              <li><a href="/admin/moderators">كافة المديرين</a></li>
              <li><a href="/admin/moderators/create">اضافة مدير</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0);" class=" menu-toggle"
              ><i class=" zmdi zmdi-label"></i><span>الاقسام</span></a
            >
            <ul class="ml-menu">
              <li><a href="/admin/category">كافة الاقسام</a></li>
              <li><a href="/admin/category/add">اضافة قسم</a></li>
            </ul>
          </li>
          <li>
              <a href="javascript:void(0);" class=" menu-toggle"
                ><i class=" zmdi zmdi-collection-image"></i><span>صور التطبيق</span></a
              >
              <ul class="ml-menu">
                  <li>
            
                      <a href="/admin/slider" class=""
                        ><i class=" zmdi zmdi-collection-image"></i
                        ><span>السلايدر</span></a
                      >
                    </li>
                    <li>
                      <a href="/admin/slider/second" class=""
                        ><i class=" zmdi zmdi-collection-image"></i
                        ><span> السلايدر الثانى</span></a
                      >
                    </li>
                    <li>
                      <a href="/admin/banner" class=""
                        ><i class=" zmdi zmdi-collection-image"></i
                        ><span>البنرات الثابتة</span></a
                      >
                    </li>
                    <li>
            
                      <a href="/admin/slider/slider-web" class=""
                        ><i class=" zmdi zmdi-collection-image"></i
                        ><span>سلايدر ويب الاول</span></a
                      >
                    </li>
                    <li>
            
                      <a href="/admin/banner/web" class=""
                        ><i class=" zmdi zmdi-collection-image"></i
                        ><span>صور ثابتة للويب</span></a
                      >
                    </li>
              </ul>
          </li>
          

          <li>
            <a href="javascript:void(0);" class=" menu-toggle"
              ><i class=" zmdi zmdi-store"></i><span>المنتجات</span></a
            >
            <ul class="ml-menu">
              <li><a href="/admin/product/">كافة المنتجات</a></li>
              <li><a href="/admin/product/create">اضافة منتج</a></li>
            </ul>
          </li>

          <li>
            <a href="javascript:void(0);" class=" menu-toggle"
              ><i class=" zmdi zmdi-card"></i><span>البطاقات</span></a
            >
            <ul class="ml-menu">
              <li>
                <a href="javascript:void(0);" class=" menu-toggle"
                  ><i class=" zmdi zmdi-labels"></i
                  ><span>اقسام البطاقات</span></a
                >
                <ul class="ml-menu">
                  <li><a href="/admin/card/category/">كافة الاقسام</a></li>
                  <li><a href="/admin/card/category/create">اضافة قسم</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);" class=" menu-toggle"
                  ><i class=" zmdi zmdi-card"></i><span>البطاقات</span></a
                >
                <ul class="ml-menu">
                  <li><a href="/admin/card/card/">كافة البطاقات</a></li>
                  <li><a href="/admin/card/card/create">اضافة بطاقة</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <a href="javascript:void(0);" class=" menu-toggle"
              ><i class=" zmdi zmdi-city-alt"></i><span>المدن</span></a
            >
            <ul class="ml-menu">
              <li><a href="/admin/city/">كافة المدن</a></li>
              <li><a href="/admin/city/create">اضافة مدينة</a></li>
            </ul>
          </li>

          <li>
            <a href="/admin/payment" class=""
              ><i class=" zmdi zmdi-card"></i><span>وسائل الدفع</span></a
            >
          </li>

          <li> <a href="javascript:void(0);" class=" menu-toggle"><i class=" zmdi zmdi-labels"></i><span>كوبونات الخصم
                </span></a>
            <ul class="ml-menu">
              <li><a href="/admin/coupon/">كافة الكوبونات</a></li>
              <li><a href="/admin/coupon/create">اضافة كوبون</a></li>
            </ul>
          </li>

<li>
  <a href="/admin/user" class=""
    ><i class=" zmdi zmdi-accounts"></i><span>المستخدمين</span></a
  >
</li>
<!-- add -->




        </ul>
      </div>
    </div>
  </div>
</aside>

<!-- Main Content -->
<div id="app">
  <section class="content ecommerce-page">