<blockquote type="cite">
	<div dir="ltr">
	
	
	
	
	<div dir="rtl" class="m_-6298296739182819398gmailfix" style="white-space:nowrap;font:10px courier;line-height:0;color:#ffffff">
	</div>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" style="width:100%!important;table-layout:fixed" bgcolor="#ffffff">
	<tbody>
	<tr>
	<td valign="top" align="center">
	<div class="m_-6298296739182819398wrapper" style="min-width:820px;margin:0 auto" align="center">
	<table bgcolor="#fcfcfc" width="800" border="0" cellpadding="0" cellspacing="0" class="m_-6298296739182819398full-width" style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-bottom:0;padding-top:20px;padding-bottom:20px">
	<tbody>
	<tr>
	<td align="center">
	<table bgcolor="#fcfcfc" class="m_-6298296739182819398almost-full-width" width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
	<tbody>
	<tr>
	<td dir="rtl"><img class="m_-6298296739182819398logo CToWUd" src="https://ci4.googleusercontent.com/proxy/mC8-bgBEukjf0GxFJ1F1riZGls3sDsM9PkG2RMe9oTzpGNg5UzQcpcUB1VFkgs-o-SzWJon8juAc5qd_f3AqQZFHpg=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/noon_logo_ar.png" alt="noon" width="127" border="0" style="display:block;border:none">
	</td>
	</tr>
	</tbody>
	</table>
	<table dir="ltr" bgcolor="#fcfcfc" class="m_-6298296739182819398almost-full-width" width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
	<tbody>
	<tr>
	<td class="m_-6298296739182819398block-td m_-6298296739182819398center" dir="rtl" align="left" width="40%" valign="bottom" style="max-width:343px;vertical-align:bottom">
	<img class="m_-6298296739182819398full-width m_-6298296739182819398header-img CToWUd a6T" src="https://lh3.googleusercontent.com/bXEFP-TVJBDM8npQd_DbKMIemBDobjabLJzygJocT5OEXNK8x2Jht0i64btXM-xnaG_3CQSLs0WHFI8djuq6eHUij_VVyQtLhKh68tAcFmft1WUef-GUI2nJ58rBCZtb-9tm4ttxKOLWYX9ScjcO6cOAeeQ6Eo0YDkLNl9ySmEfiJPGg4Vu09R-gD7YzNA0WsAsDerizASluJVHO7L9ahsAGIxNSPV7C2lkBH9nhMEHQ3jV6Kq54ecuoi8zmZk3xn035Tl57PdtESohV9XEwYK_zoKjuUTSOcA6Y-7cWI_0CYzTSPPftDHhbfHVZ1eZq9nad_2XXt014z9eKVWNr3t00sHVJElVzLlYI3UrLp9FN79EcyFYAJMBQn5ZrhAsjXblb7l59tA1j2HRS431ZlF53xIZeGE60fp3283N0ErQCz2CPWpVK5F7o76tuttI2ZFoRCjsdtsq_kp6bvlQa5xCNbNHZfMgiOWRb30nkfGi-U-E_vsf0GQSVbIU4eiR8islpdV3_A2t3pGbZdrZN_UepTyoOP6C4mBZU8ESEYacyWeufgaqQ71IoDtqshiqo9_lZE6ikjvk_VP2AZ_05zIxA4_3SecKsya_7XGAqobcZZ_gZuDykWnf8aa1TqOb8pihUdDLKDGfvMlxc7V5hwS1m_AE53Aoa3JaiW6Gvzs8Nkk7wP1P_=s256-no" width="278" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 380px; top: 422px;"><div id=":oz" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>
	</td>
	<td class="m_-6298296739182819398full-width m_-6298296739182819398block-td m_-6298296739182819398center" dir="rtl" align="right" valign="middle" width="60%" style="max-width:343px;vertical-align:middle">
	<h1 class="m_-6298296739182819398mobile-title" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-weight:600;color:#404553;letter-spacing:-0.4px;margin-top:11px;margin-bottom:11px;font-size:32px;line-height:35.52px">
	تمام التمام </h1>
	<div class="m_-6298296739182819398center" style="width:43px;font-size:4px;display:inline-block;mix-blend-mode:multiply;vertical-align:top;background-color:#feee00">
	&nbsp;</div>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	
	<table width="800" border="0" cellpadding="0" cellspacing="0" class="m_-6298296739182819398full-width" style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-top:0;border-bottom:0;padding-top:35px;padding-bottom:35px">
	<tbody>
	<tr>
	<td align="center" dir="rtl">
	<table class="m_-6298296739182819398almost-full-width" width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
	<tbody>
	<tr>
	<td style="padding:5px">
	<h3 style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:17px;font-weight:bold;line-height:1.24;letter-spacing:-0.1px;color:#4a4a4a;margin:0">
	هلا محمد </h3>
	</td>
	</tr>
	<tr>
	<td style="padding:5px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">
	حبينا نقولك إن ذوقك حلو! والأحلى انك اخترت نون… </p>
	</td>
	</tr>
	<tr>
	<td style="padding:9px 5px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal">
	وصلتنا طلبيّتك رقم NSAB80053315002 وفريقنا قاعد يجهّز لك الطلب على قدمٍ وساق. </p>
	</td>
	</tr>
	
	<tr>
	<td style="padding:19px 5px 5px">
	<table style="margin:0 auto;width:100%" cellspacing="2.5">
	<tbody>
	<tr>
	<td style="width:8.23%;padding:0">
	<div style="width:100%;height:10px;background-color:#7ed321"></div>
	</td>
	<td style="width:20%;padding:0">
	<div style="width:100%;height:10px;background-color:#7ed321"></div>
	</td>
	<td style="width:49.67%;padding:0">
	<div style="width:100%;height:10px;background-color:#e2e5f1"></div>
	</td>
	<td style="width:22.1%;padding:0">
	<div style="width:100%;height:10px;background-color:#e2e5f1"></div>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	
	<tr>
	<td style="padding:5px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:18px;line-height:1.22;color:#7e859b;margin:0 0 7px 0">
	<span style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-weight:bold;color:#7ed321">تم الطلب</span>: Aug 14, 2019</p>
	</td>
	</tr>
	
	</tbody>
	</table>
	</td>
	</tr>
	
	<tr>
	<td align="center" dir="rtl" style="padding-top:25px;padding-bottom:0"></td>
	</tr>
	
	<tr>
	<td align="center" dir="rtl" style="padding-top:5px;padding-bottom:25px">
	<table dir="rtl" class="m_-6298296739182819398almost-full-width" width="610" border="0" cellpadding="0" cellspacing="5" style="width:610px;margin:0 auto;padding:0">
	<tbody>
	<tr>
	<td width="50%" valign="top" align="right" style="background-color:#f8f9fb" class="m_-6298296739182819398full-width m_-6298296739182819398block-td">
	<table align="right" class="m_-6298296739182819398full-width" valign="top" style="background-color:#f8f9fb;padding:16px 20px 6px 20px;box-sizing:border-box">
	<tbody>
	<tr>
	<td colspan="2">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;font-weight:bold;letter-spacing:0.2px;color:#4a4a4a;line-height:1.5;margin:0;text-transform:uppercase">
	ملخص الطلبية</p>
	</td>
	</tr>
	<tr>
	<td>
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;margin:0;color:#404553">
	رقم الطلبية:</p>
	</td>
	<td style="padding-right:25px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:#404553;margin:0;font-weight:600">
	NSAB80053315002</p>
	</td>
	</tr>
	<tr>
	<td>
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:#404553;margin:0">
	إجمالي الطلبية:</p>
	</td>
	<td style="padding-right:25px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:#404553;font-weight:600">
	ر.س. 249.00</p>
	</td>
	</tr>
	<tr>
	<td valign="top" style="vertical-align:top">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:#404553;margin:0">
	وسيلة الدفع:</p>
	</td>
	<td style="padding-right:25px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:#404553;font-weight:600;margin:0">
	بطاقة الائتمان </p>
	</td>
	</tr>
	</tbody>
	</table>
	
	<table align="right" class="m_-6298296739182819398full-width m_-6298296739182819398bottom" valign="top" style="background-color:#f8f9fb;padding:0 20px 6px;margin-bottom:5px;width:100%;box-sizing:border-box">
	<tbody>
	<tr>
	<td></td>
	</tr>
	</tbody>
	</table>
	</td>
	<td width="50%" valign="top" align="left" style="background-color:#f8f9fb" class="m_-6298296739182819398full-width m_-6298296739182819398block-td">
	<table align="right" class="m_-6298296739182819398full-width" valign="top" style="box-sizing:border-box;background-color:#f8f9fb;padding:16px 20px">
	<tbody>
	<tr>
	<td>
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;letter-spacing:0.2px;color:#4a4a4a;line-height:1.5;font-weight:bold;text-transform:uppercase;margin:0">
	عنوان الشحن </p>
	</td>
	</tr>
	<tr>
	<td>
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:#404553;font-weight:600;margin:0">
	محمد الفقيه </p>
	</td>
	</tr>
	<tr>
	<td>
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;line-height:1.5;color:#404553;margin:0">
	محافظه الليث, ليث, المملكة العربية السعودية </p>
	</td>
	</tr>
	</tbody>
	</table>
	
	<table align="right" class="m_-6298296739182819398full-width" valign="top" style="box-sizing:border-box;background-color:#f8f9fb;padding:0 20px 12px">
	<tbody>
	<tr>
	<td></td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	
	<tr>
	<td align="center" dir="rtl">
	<table class="m_-6298296739182819398almost-full-width" width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
	<tbody>
	<tr>
	<td style="padding:0 5px">
	<table width="600" style="min-width:100%!important;margin:0 auto;width:600px" align="center" class="m_-6298296739182819398almost-full-width" cellpadding="0" cellspacing="0">
	<tbody>
	<tr>
	<td style="border-bottom:solid 1px #e2e5f1" class="m_-6298296739182819398full-width m_-6298296739182819398block-td"></td>
	</tr>
	</tbody>
	</table>
	<h1 style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;font-weight:600;letter-spacing:0.2px;color:#4a4a4a;padding-top:15px;padding-right:8px;text-align:right;margin:0">
	البائع&nbsp;نون</h1>
	<table width="600" style="margin:0 auto;padding:10px 8px;min-width:600px;width:600px;background:#ffffff" align="center" class="m_-6298296739182819398full-width" cellpadding="0" cellspacing="0">
	<tbody>
	<tr>
	<td valign="middle" width="80" style="width:80px">
	<div style="width:80px;height:129px">
	<div style="max-height:0;max-width:0;overflow:visible">
	<div style="width:80px;height:110px;margin-top:0;margin-left:0;display:inline-block;background:url(https://ci4.googleusercontent.com/proxy/utbulNG7LS6o7kh3_GrvyirerPrEkhMsrrJTOZoII3y3MkIkcBboJu675V_Fum2gQ3pA5BI2W0XbKUJWuCSOhGJH9fErBumHTEvc9nOEKnrEQFkNPvE=s0-d-e1-ft#https://k.nooncdn.com/t_desktop-pdp-v1/v1556200991/N19843681A_1.jpg);background-size:cover">
	<img src="https://ci5.googleusercontent.com/proxy/Xxg8PKb9jEJxY-xPhQh0Ev66ndLzobOMQbcKzvKYfALrpiJNNt05TMAazm7d0XifhfEChNhnbdl1Fz7XAR9n71rn=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/noon-now-ar.png" width="36" style="width:36px;vertical-align:text-top;display:inline-block" class="CToWUd">
	</div>
	</div>
	</div>
	</td>
	<td valign="middle" style="padding-right:15px">
	<table style="margin:0" width="100%" dir="ltr">
	<tbody>
	<tr>
	<td dir="rtl" align="left" valign="top" class="m_-6298296739182819398full-width m_-6298296739182819398block-td m_-6298296739182819398left-td"><span style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.31;color:#404553;font-weight:bolder">ر.س.
	 249.00</span> </td>
	<td dir="rtl" valign="top" align="right" class="m_-6298296739182819398full-width m_-6298296739182819398block-td" style="padding-right:0px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.31;text-align:right;color:#7d8baf;padding-bottom:5px">
	إيست من نون </p>
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.31;text-align:right;color:#404553;padding-bottom:5px">
	طقم حقائب أمتعة بعجلات مكون من 3 قطع (20 و24 و28 بوصة) بهيكل مصنوع من بلاستيك ABS - إطار من الألومنيوم
	</p>
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;text-align:right;color:#7e859b;padding-bottom:10px">
	الكمية: 1</p>
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:12px;font-weight:600;text-align:right;color:#38ae04;padding-bottom:5px">
	الاستلام قبل تاريخ: Aug 18, 2019</p>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	<table width="600" style="min-width:100%!important;margin:0 auto;width:600px" align="center" class="m_-6298296739182819398almost-full-width" cellpadding="0" cellspacing="0">
	<tbody>
	<tr>
	<td style="border-bottom:solid 1px #e2e5f1" class="m_-6298296739182819398full-width m_-6298296739182819398block-td"></td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="padding:5px" align="left">
	<table align="left" style="padding:20px;border-collapse:collapse" class="m_-6298296739182819398full-width">
	<tbody>
	<tr style="padding:20px">
	<td align="right" style="font-family:'Proxima Nova',Helvetica,'Open Sans',Corbel,Arial,sans-serif;font-size:13px;text-align:right;color:#7e859b;padding-top:14px;padding-left:16px;padding-bottom:10px">
	المجموع الفرعي</td>
	<td align="left" style="font-family:'Proxima Nova',Helvetica,'Open Sans',Corbel,Arial,sans-serif;font-size:13px;text-align:left;color:#404553;padding-top:14px;padding-bottom:10px">
	ر.س. 249.00</td>
	</tr>
	<tr style="padding:20px">
	<td align="right" style="font-family:'Proxima Nova',Helvetica,'Open Sans',Corbel,Arial,sans-serif;font-size:13px;text-align:right;color:#7e859b;padding-left:16px;padding-bottom:10px">
	رسوم الشحن</td>
	<td align="left" style="font-family:'Proxima Nova',Helvetica,'Open Sans',Corbel,Arial,sans-serif;font-size:13px;text-align:left;color:#404553;padding-bottom:10px">
	<p style="color:#38ae04;text-transform:uppercase">مجاني</p>
	</td>
	</tr>
	<tr style="padding:20px;border-top:solid 1px #e2e5f1">
	<td align="right" style="font-family:'Proxima Nova',Helvetica,'Open Sans',Corbel,Arial,sans-serif;font-size:16px;text-align:right;color:#404553;padding-top:13px;padding-bottom:10px;padding-left:16px;font-weight:bold" valign="bottom">
	المجموع <span style="font-size:13px;font-weight:normal;color:#b1bad3;vertical-align:bottom">
	(شاملاً ضريبة القيمة المضافة)</span> </td>
	<td align="left" style="font-family:'Proxima Nova',Helvetica,'Open Sans',Corbel,Arial,sans-serif;font-size:16px;font-weight:bold;padding-top:13px;padding-bottom:10px;text-align:left;color:#404553">
	ر.س. 249.00</td>
	</tr>
	<tr style="padding:20px">
	<td align="right" style="font-family:'Proxima Nova',Helvetica,'Open Sans',Corbel,Arial,sans-serif;font-size:11px;text-align:right;color:#7e859b;padding-left:16px;padding-bottom:10px">
	مبلغ ضريبة VAT المُقدر</td>
	<td align="left" style="font-family:'Proxima Nova',Helvetica,'Open Sans',Corbel,Arial,sans-serif;font-size:11px;text-align:left;color:#404553;padding-bottom:10px">
	ر.س. 11.86</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	
	<tr>
	<td align="center" dir="rtl">
	<table class="m_-6298296739182819398almost-full-width" width="610" border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;padding:0">
	<tbody>
	<tr>
	<td style="padding:20px 5px 0 5px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:13px;line-height:1.62;color:#404553;letter-spacing:normal;margin:0">
	سنخبرك عندما تكون الطلبية في طريقها إليك، لتستعد لها بحماس. </p>
	</td>
	</tr>
	<tr>
	<td style="padding:18px 5px 0 5px">
	<p style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:14px;font-weight:600;line-height:1.4;color:#4a4a4a">
	شكرًا،<br>
	فريق نون</p>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	<table bgcolor="#fcfcfc" width="800" border="0" cellpadding="0" cellspacing="0" class="m_-6298296739182819398full-width" style="width:800px;margin:0 auto;border:solid 1px #e3e7ec;border-top:0;padding-top:20px;padding-bottom:20px">
	<tbody>
	<tr>
	<td align="center" dir="rtl">
	<table bgcolor="#fcfcfc" class="m_-6298296739182819398almost-full-width" width="610" cellpadding="0" cellspacing="0" style="box-sizing:border-box;width:610px;margin:0 auto;padding:0 5px">
	<tbody>
	<tr>
	<td align="right" style="padding-bottom:11px">
	<table class="m_-6298296739182819398full-width m_-6298296739182819398gmailfix" width="382" valign="center" align="right">
	<tbody>
	<tr>
	<td>
	<table valign="center">
	<tbody>
	<tr>
	<td>
	<table>
	<tbody>
	<tr>
	<td><img src="https://ci3.googleusercontent.com/proxy/o6Dxz0MpmPpOEICIFdZ5mOLmbTltfLwpyOD3HLYpK8A2t-v63Rnc8h1KjnrKtjySCr5AkVG82LPXCh8=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/info.png" width="16" class="CToWUd"> </td>
	<td>
	<table>
	<tbody>
	<tr>
	<td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;letter-spacing:0.3px;text-align:right;color:#a2a9bb">
	مركز المساعدة </td>
	</tr>
	<tr>
	<td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif!important;font-size:11px;font-weight:bold;text-align:right;color:#222632">
	<a href="http://help.noon.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://help.noon.com&amp;source=gmail&amp;ust=1569449355609000&amp;usg=AFQjCNHwx9x4ZJSv6AnmZUf3JA3TNIdOLQ">help.noon.com</a> </td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	<td>
	<table valign="center">
	<tbody>
	<tr>
	<td>
	<table class="m_-6298296739182819398center">
	<tbody>
	<tr>
	<td><img src="https://ci6.googleusercontent.com/proxy/GjXO3Jk5u7BxBwHeWMQxZR_C_EzA6-zQFO7t8zkPmvhqal6NB8JeDQbX9cbLuNewH4J0lDc1JSpsaU6MpJ8TBDc=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/message_sl.png" width="16" class="CToWUd"> </td>
	<td>
	<table>
	<tbody>
	<tr>
	<td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;letter-spacing:0.3px;text-align:right;color:#a2a9bb">
	البريد الإلكتروني </td>
	</tr>
	<tr>
	<td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif!important;font-size:11px;font-weight:bold;text-align:right;color:#222632">
	<a href="mailto:care@noon.com" target="_blank">care@noon.com</a> </td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	<td>
	<table valign="center">
	<tbody>
	<tr>
	<td>
	<table class="m_-6298296739182819398center">
	<tbody>
	<tr>
	<td><img src="https://ci5.googleusercontent.com/proxy/oBp7heSxP5q209w0MAgAn0GWuS6isLh7AG3fq2C6mS8hbCVpITr0Yrl_OQ9tbGPGfQDCtFD4ssx1P4PhhXcx=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/Phone_sl.png" width="16" class="CToWUd"> </td>
	<td>
	<table>
	<tbody>
	<tr>
	<td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;letter-spacing:0.3px;text-align:right;color:#a2a9bb">
	الهاتف </td>
	</tr>
	<tr>
	<td style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:11px;font-weight:bold;text-align:right;color:#222632" valign="top">
	8001160210 </td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	<table class="m_-6298296739182819398full-width" width="157" valign="center" align="left">
	<tbody>
	<tr>
	<td style="padding:15px"><a href="https://www.facebook.com/noon/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/noon/&amp;source=gmail&amp;ust=1569449355610000&amp;usg=AFQjCNFG_TeKKnOXJgAdM55g_iWfHFcr0A"><img src="https://ci6.googleusercontent.com/proxy/rwLp8MHab_sQyyuuEx5GvFfaAlYwKDXgtW0zir0B9oMrXr_xu-Vatju5eY_tHVlzUNLZ6CCd6TWGs2w=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/fb_s.png" width="6" style="margin:0 auto" class="CToWUd"></a>
	</td>
	<td style="padding:15px"><a href="https://twitter.com/noon" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/noon&amp;source=gmail&amp;ust=1569449355610000&amp;usg=AFQjCNFrFEr9Lko8pl2IyG7egQveiYdt8Q"><img src="https://ci4.googleusercontent.com/proxy/oXFb-mYOwU11Lly9T_Qc-aJWNNvelIwRcs1uvS4Jzz1mpRH94pMibyTA_qn9TzlOdAfXgOOBrGYF_XH_fuQR-vU=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/twitter_sl.png" width="13" style="margin:0 auto" class="CToWUd"></a>
	</td>
	<td style="padding:15px"><a href="https://www.instagram.com/noon/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/noon/&amp;source=gmail&amp;ust=1569449355610000&amp;usg=AFQjCNEHgd1bbDeNYq_BR0HVcziNRM_oQg"><img src="https://ci6.googleusercontent.com/proxy/a_J4Hg-V0lI2-O3XLIbPmQBR6pfN1ifYAEmYOiM8u9YAg4jOUs0UUYepOxYioec-F4HeuRe5sdd7MMMyKVr3=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/insta_sl.png" width="13" style="margin:0 auto" class="CToWUd"></a>
	</td>
	<td style="padding:15px"><a href="https://www.linkedin.com/company/nooncom/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/nooncom/&amp;source=gmail&amp;ust=1569449355610000&amp;usg=AFQjCNFfJ2jPu4hCIUpQ9ruGPcv8tP6AFw"><img src="https://ci5.googleusercontent.com/proxy/Ymg8ViNxbQgAVLS-h0tUTVadMNB7IjpRUoSOfOedkaqvWBfQeHMfzkpLTUz1rCXjw0ast7t7T59BF_t8rjm6JXhy=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/Linkedin_sl.png" width="13" style="margin:0 auto" class="CToWUd"></a>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="center" dir="rtl">
	<table border="0" cellpadding="0" cellspacing="0" style="width:610px;margin:0 auto;border-top:2px solid #e3e7ec;padding:10px 0 10px 0" class="m_-6298296739182819398full-width">
	<tbody>
	<tr>
	<td width="60%" class="m_-6298296739182819398almost-full-width m_-6298296739182819398block-td" style="padding:8px;font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092">
	أنت تتلقى هذا البريد الإلكتروني لأن&nbsp;<strong><a href="mailto:m_o_a175@hotmail.com" target="_blank">m_o_a175@hotmail.com</a></strong>&nbsp;مسجل على
	<a href="http://noon.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://noon.com&amp;source=gmail&amp;ust=1569449355610000&amp;usg=AFQjCNGKLBM3B6xSfoxOP7VZEA1RjVuAvQ">noon.com</a>. </td>
	<td width="40%" class="m_-6298296739182819398full-width m_-6298296739182819398block-td">
	<table width="230" style="width:230px;margin:0 auto" align="center" valign="middle">
	<tbody>
	<tr>
	<td align="center">
	<table width="220" style="width:220px;margin:0 auto" align="center" valign="middle">
	<tbody>
	<tr style="margin:0 auto" align="center">
	<td><a href="https://play.google.com/store/apps/details?id=com.noon.buyerapp" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.noon.buyerapp&amp;source=gmail&amp;ust=1569449355610000&amp;usg=AFQjCNED8ffMCbK4ieUbb0bhuBRvo8wVUw"><img src="https://ci3.googleusercontent.com/proxy/W-0yAPEmf7PfnSAUIGGgseY4Sj3P6-kmcRwSN6yESvp1hHYNiw_ZUCoWIubCx8ODGM-1jLuME6_ftM2lfbcqMofSXvb-=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/Google_Play_ar.png" width="96" style="margin-left:11px;display:inline-block" class="CToWUd"></a>
	<a href="https://itunes.apple.com/app/noon-%D9%86%D9%88%D9%86/id1269038866?ls=1&amp;mt=8" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://itunes.apple.com/app/noon-%25D9%2586%25D9%2588%25D9%2586/id1269038866?ls%3D1%26mt%3D8&amp;source=gmail&amp;ust=1569449355610000&amp;usg=AFQjCNFRcbSNUoAI-Fs-1BLwPnvjKeaeZg">
	<img src="https://ci6.googleusercontent.com/proxy/tCh1ulaGy2K0Q9I9MZZGP0RLNUMxvJGPQesZaUZUqp2AKk_HhSdHbk-2k4BM8_usb-6KLWeMgFflNggTY6eYEUiTxg=s0-d-e1-ft#https://a.nooncdn.com/nr/emails/App_Store_ar.png" width="96" style="display:inline-block" class="CToWUd"></a>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td width="60%" class="m_-6298296739182819398full-width m_-6298296739182819398block-td" style="padding:8px;font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092">
	©2019 نون. نون للتجارة الإلكترونية </td>
	<td width="40%" class="m_-6298296739182819398full-width m_-6298296739182819398block-td" style="padding:8px 0">
	<div style="margin:0 auto;text-align:center"><a href="https://www.noon.com/ar-sa/privacy-policy?utm_source=C1000002L&amp;utm_medium=email&amp;utm_content=privacy_ft&amp;utm_campaign=C1000000649N_sa_ar_web_egall_b_" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.noon.com/ar-sa/privacy-policy?utm_source%3DC1000002L%26utm_medium%3Demail%26utm_content%3Dprivacy_ft%26utm_campaign%3DC1000000649N_sa_ar_web_egall_b_&amp;source=gmail&amp;ust=1569449355611000&amp;usg=AFQjCNFf-9Bi5CVyd3FiGjIzffMrlB-qog">سياسة
	 الخصوصية</a> &nbsp; <a href="https://www.noon.com/ar-sa/terms-of-use?utm_source=C1000002L&amp;utm_medium=email&amp;utm_content=tou_ft&amp;utm_campaign=C1000000649N_sa_ar_web_egall_b_" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.noon.com/ar-sa/terms-of-use?utm_source%3DC1000002L%26utm_medium%3Demail%26utm_content%3Dtou_ft%26utm_campaign%3DC1000000649N_sa_ar_web_egall_b_&amp;source=gmail&amp;ust=1569449355611000&amp;usg=AFQjCNEfyFMlW8WhSrmrHjlLlBDHo9jWfQ">
	شروط الاستخدام</a> &nbsp; <a href="https://www.noon.com/ar-sa/terms-of-sale?utm_source=C1000002L&amp;utm_medium=email&amp;utm_content=tos_ft&amp;utm_campaign=C1000000649N_sa_ar_web_egall_b_" style="font-family:'Proxima Nova','Open Sans',Corbel,Arial,sans-serif;font-size:10px;line-height:18px;letter-spacing:0.3px;text-align:center;color:#7a8092;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.noon.com/ar-sa/terms-of-sale?utm_source%3DC1000002L%26utm_medium%3Demail%26utm_content%3Dtos_ft%26utm_campaign%3DC1000000649N_sa_ar_web_egall_b_&amp;source=gmail&amp;ust=1569449355611000&amp;usg=AFQjCNGh-d3kfjW9ejDnPeqmJGxGE7H-qQ">
	شروط البيع</a> &nbsp; </div>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
	</table>
	</div>
	</td>
	</tr>
	</tbody>
	</table><div class="yj6qo"></div><div class="adL">
	</div></div><div class="adL">
	</div></blockquote>